<header class="masthead">
  <div class="container">
    <div>
      <img class="title-logo" src="img/html-logo.png" height="100" alt="HTML5 Logo">
      <img class="title-logo" src="img/css-logo.svg" height="100" alt="CSS3 Logo">
    </div>
    <h1>{{ site.name }}</h1>
    <p class="lead">{{ site.description }}</p>

    <p class="masthead-links">
      <a href="https://github.com/naustudio/code-guide">
        <span class="icon icon-github-circled"></span>
      </a>
      <a href="https://naustud.io">
        <span class="icon icon-home"></span>
      </a>
    </p>

  </div>
</header>
